

<h1 class="text-white text-2xl text-center my-4">
  Créer un événement
</h1>

<%= form_with model: @event, html: { class: "w-full max-w-md mx-auto bg-white p-8 rounded-lg shadow-lg" } do |form| %>
  <div class="mb-4">
    <%= form.label :title, "Titre de l'événement", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :title, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :location, "Lieu", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :location, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :start_time, "Début de l'événement", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.datetime_select :start_time, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :privacy, "Privé", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <div class="flex items-center">
      <%= form.radio_button :privacy, "Privé", class: "mr-2 leading-tight" %>
      <%= form.label :privacy, "Privé", class: "text-sm text-gray-600 mr-4" %>

      <%= form.radio_button :privacy, "Public", class: "mr-2 leading-tight" %>
      <%= form.label :privacy, "Public", class: "text-sm text-gray-600" %>
    </div>
  </div>

  <div class="flex items-center justify-between">
    <%= form.submit "Créer", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>