<h1 class="text-white text-2xl text-center my-4">
  Créer un événement
</h1>

<%= form_with model: @event do |form| %>
  <div class="field">
    <%= form.label :title, "Titre de l'événement" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :location, "Lieu" %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :start_time, "Début de l'événement" %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :privacy, "Privé" %>
    <%= form.radio_button :privacy, "Privé" %>

    <%= form.label :privacy, "Public" %>
    <%= form.radio_button :privacy, "Public" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
