<%= render 'layouts/components/title/h1', title: @event.title %>

<div class=" text-center my-3">

  <p class="flex justify-center">
    <%= render 'layouts/svg/icons/location' %>
    <%= @event.location %>
  </p>

  <p class="flex justify-center">
    <%= render 'layouts/svg/icons/start-time' %>
    <%= @event.start_time.strftime("%d %B %Y") %>
    <br>
    <%= @event.start_time.strftime("%H:%M") %>
  </p>

  <p class="flex justify-center">
    <%= render 'layouts/svg/icons/lock' %>
    <%= @event.privacy %>
  </p>

  <p class="flex justify-center">
    <%= render 'layouts/svg/icons/price' %>
    <%= number_with_precision(@event.price_per_player, precision: 2) %> par joueur
  </p>

  <p class="flex justify-center">
    <%= render 'layouts/svg/icons/players' %>
    <%= @event.players.count %> / <%= @event.number_of_players %>
  </p>


</div>

<div class="text-center">
  <%= link_to 'Modifier', edit_event_path(@event), class: "bg-blue-500 text-white p-2 rounded" %>
</div>



<section id="teams-container" class="my-3">

  <div class="grid grid-cols-8 gap-4">

    <%= render 'events/components/teams/team-1', team: @team_1, event: @event, player: current_user %>
    <%= render 'events/components/teams/team-2', team: @team_2, event: @event, player: current_user %>
    <%= render 'events/components/teams/bench', team: @bench, event: @event, player: current_user %>




  </div>

<%# button pour quitter l'événement %>
<% if @player %>
  <div class="col-start-4 col-span-4 text-center py-4">
      <%= link_to "Ne pas participer", player_path(@player), data: { turbo_method: :delete,
              alert: "Êtes-vous sûr de vouloir quitter la partie?"
        }, class: "bg-red-900 hover:bg-red-800 hover:duration-150 transition p-2 rounded" %>
  </div>
<% end %>

</section>

<%# button pour supprimer l'événement %>

<div class="text-center py-4">
  <%= link_to "Supprimer l'événement", event_path(@event),
      data: { turbo_method: :delete,
              alert: "Êtes-vous sûr de vouloir supprimer cet événement?"
        },
      class: "bg-red-900 hover:bg-red-800 hover:duration-150 transition p-2 rounded" %>
</div>
