<h1 class="text-white text-2xl text-center my-4">
  <%= @event.title %>
</h1>

<div class="text-white text-center my-3">
  <p>
    <strong>Lieu:</strong> <%= @event.location %>
  </p>
  <p>
    <strong>Début:</strong> <%= @event.start_time %> <%= @event.start_time.strftime("%d %B %Y") %> <br>
    <%= @event.start_time.strftime("%H:%M") %>
  </p>
  <p>
    <strong>Statut:</strong> <%= @event.privacy %>
  </p>
</div>

<div class="text-center">
  <%= link_to 'Modifier', edit_event_path(@event), class: "bg-blue-500 text-white p-2 rounded" %>
  <%= link_to 'Supprimer', event_path(@event),
    data: { turbo_method: :delete,
            alert: "Êtes-vous sûr de vouloir supprimer cet événement?"
      },
    class: "bg-red-500 text-white p-2 rounded" %>
</div>



<section id="teams-container" class="my-3">

  <div class="grid grid-cols-4 gap-4">

    <%= render 'events/components/teams/team-1' %>
    <%= render 'events/components/teams/team-2' %>
    <%= render 'events/components/teams/bench' %>

  </div>

</section>
