<%# app/views/events/components/teams/_bench.html.erb %>

<div id="bench" class="bg-[#1E1E1E] rounded-md col-start-2 col-span-2" id="team_<%= team.id %>">

  <h2 class="py-2 text-center bg-gray-700 text-xl rounded-t-md">
    <%= team.name %> <%= link_to 'ðŸ–ï¸', edit_event_team_path(event, team) %>
  </h2>

  <ul class="space-y-1 py-4 px-4 md:px-16">
    <% team.players.each do |player| %>
      <%= render 'events/components/teams/players/substitute', player: player %>
    <% end %>

    <li class="">
      <%= button_to "Rejoindre", event_team_player_path(event, team, player), method: :patch, class: "text-yellow-700 my-4 border-2 border-dashed border-yellow-700 hover:border-yellow-600 hover:duration-150 transition px-4 py-2 rounded-md w-full block text-center" %>
    </li>
  </ul>

</div>
